<a href="/allPosts" class="back">&larr; 뒤로</a>
<div class="edit-title">
    <h2><%= locals.title %></h2>
    <form action="/delete/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="삭제" class="btn btn-delete">
    </form>
</div>

<form action="/edit/<%= data._id %>?_method=PUT" method="POST" class="edit-form">
    <label for="title"><b>제목</b></label>
    <input type="text" name="title" id="title" value="<%= data.title%>" class="form-input">
    <label for="body"><b>내용</b></label>
    <textarea name="body" id="body" cols="50" rows="10" class="form-textarea">
        <%= data.body %>
    </textarea>

    <input type="submit" value="수정" class="btn btn-submit">
</form>