<div class="post-header">
    <h1><%= data.title%></h1>
    <p class="views">조회수 : <%= data.views %>회</p>
</div>

<article class="article">
    <%= data.body %>
</article>

<div class="post-actions">
    <form action="/like/<%= data._id %>" method="POST" style="display:inline;">
        <button type="submit" class="icon-button">
            <img src="/img/like.jpg" alt="좋아요" class="icon-img">
            (<%= data.likes %>)
        </button>
    </form>
    
    <form action="/dislike/<%= data._id %>" method="POST" style="display:inline;">
        <button type="submit" class="icon-button">
            <img src="/img/dislikes.jpg" alt="싫어요" class="icon-img">
            (<%= data.dislikes %>)
        </button>
    </form>
</div>